# Configurações do Supabase
VITE_SUPABASE_URL=https://ifpcahwsvbmbgyzfrlbw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmcGNhaHdzdmJtYmd5emZybGJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNTIxNTMsImV4cCI6MjA3NDcyODE1M30.MhxsuqnCNLf_5HEGhbomfgbHejDpkcQoLTKbkdw8KM8

# Configurações da aplicação
VITE_APP_NAME=MEMORIAS
VITE_APP_VERSION=1.0.0

# URLs de produção (opcional)
VITE_PRODUCTION_URL=https://memorias.app
